extends layout

block head
  - var title='Gesten Zuordnung'


block content

  header.page-header
    h2 Gesten-Widget Zuordnung

  section.col-md-4
    h2 Neue Zuordnung
    form(action="/gestures/#{user._id}" method="post")
      div.form-group
        label(for="gesture") Geste
          select(name="gesture")#gesture.form-control
            each gesture in gestures
              option(value=gesture._id)= gesture.gestureType

      div.form-group
        label(for="widget") Widget
          select(name="widget")#widget.form-control
            each widget in userWidgets
              option(value=widget._id)= widget.name

      button(type="submit").btn.btn-default Speichern

  section.col-md-8
    h2 Vorhandene Zuordnungen bearbeiten
    if userWidgets == 'undefined'
      h2 Keine Zuordnungen vorhanden
    else
      table.table
        thead
          tr
            th Geste
            th Widget
            th Aktionen

        tbody
          each widget in userWidgets
            if widget.gestureSupport
              tr
                td
                  strong=widget.gesture
                td
                  strong=widget.name
                td
                  a.gesture-delete(href="/gestures/#{widget._id}/delete").btn.btn-danger Löschen
                  =" "
                  a(href="/gestures/#{widget._id}").btn.btn-primary Bearbeiten