extends layout

block vars
  - var title='Module Details'

block content
  header.page-header
    h1 Moduldetails
    p Gefundene Daten aus URL: #{url}

  section.col-sm-12
    h2 Name:
    strong=details.name

    h2 Description:
    strong=details.description

    h2 Version:
    strong=details.version

    h2 Author:
    strong=details.author

  br

  form(action="./install" method="POST")
    input(type="hidden" name="url" value=url)
    input(type="hidden" name="name" value=details.name)
    br
    button(type="submit").btn.btn-primary Modul installieren

