extends layout

block head
  - var title='Modules'

block content

  header.page-header
    h1 Moduleübersicht

    if(get && get.msg === 'install')
      aside.alert.alert-success.col-sm-12
        strong Hinweis: Module wurde installiert

    if(get && get.err === 'install')
      aside.alert.alert-danger.col-sm-12
        strong Fehler: Beim installieren des Moduls ist ein Fehler aufgetreten. Versuchen sie es später erneut!

    if(get && get.msg === 'delete')
      aside.alert.alert-success.col-sm-12
        strong Hinweis: Das Modul wurde gelöscht

    if(get && get.err === 'delete')
      aside.alert.alert-danger.col-sm-12
        strong Fehler: Das Modul konnte nicht gelöscht werden das es noch von einer anderen Person verwendet wird

  section.col-sm-6
    h2 Verfügbare Module

    if server.length == 0
      aside.alert.alert-danger Es konnte keine Verbindung zum Server aufgebaut werden
    else
      table.table
        thead
          tr
            th Module
            th Version

        tbody
          each module in server
            tr
              td
                h4=module.name
                strong=module.description
                if(module.version)
                  p Version: #{module.version}
                if(module.author)
                  p Author: #{module.author}
                if(module.homepage)
                  a(href=module.homepage target="_blank") Homepage
              td
                  form(action="/modules/install" method="post")
                    input(type="hidden" name="url" value=module.git)
                    if module.status && module.status === "installed"
                      button(type="submit").btn.btn-warning Updaten
                    else
                      button(type="submit").btn.btn-primary Installieren

  section.col-sm-6
    h2 Installierte Module

    if modules.length == 0
      h2 No Modules
    else
      table.table
        thead
          tr
            th Module
            th Aktionen

        tbody
          each module in modules
            tr
              td
                h4=module.name
                strong=module.description
                if(module.version)
                  p Version: #{module.version}
                if(module.author)
                  p Author: #{module.author}
                if(module.homepage)
                  a(href=module.homepage target="_blank") Homepage
              td
                a(href="/widgets/create/#{module._id}").btn.btn-primary Widget erstellen
                a(href="modules/remove/#{module._id}").btn.btn-danger Löschen
