extends layout

block vars
  - var title='System'


block content
  header.page-header
    h1 Systemsettings

  div.col-sm-12
    form(action="/system" method="post")

      label(for="ssid") SSID
      div.input-group
        span.input-group-addon SSID
        input(type="text" name="ssid" value=system.ssid ? system.ssid : '')#ssid.form-control

      label(for="mac") MAC
      div.input-group
        span.input-group-addon MAC
        input(type="text" name="mac" value=system.mac ? system.mac : '')#mac.form-control

      div.checkbox
        label(for="security") AES
          input(type="checkbox" name="security" value="aes" checked=system.security.indexOf('aes') > -1 ? true : false)

      div.checkbox
        label(for="security") RSA
          input(type="checkbox" name="security" value="rsa" checked=system.security.indexOf('rsa') > -1 ? true : false)

      label(for="password") password
      div.input-group
        span.input-group-addon Password
        input(type="password" name="password" value=system.password ? system.password : '')#password.form-control

      br

      button(type="submit").btn.btn-primary save
