extends layout

block head
  - var title='System'


block content
  header.page-header
    h1 Systemeinstellungen

  section.col-sm-12

    h2 Default User
    p User, dessen Interface beim Starten des Smart Mirror geladen werden soll

    form(action="/system/user" method="post")

      div.form-group
        label(for="user") User
        select(name="user")#user.form-control
          each user in users
            option(value=user._id)=user.username

      button(type="submit").btn.btn-primary Default User speichern

  section.col-sm-12.disabled

    h2 WLAN Einstellungen
    p Einstellung für das Funknetzwerk

    form(action="/system/wlan" method="post")

      label(for="ssid") SSID
      div.input-group
        span.input-group-addon SSID
        input(type="text" name="ssid" value=system.wifi.ssid ? system.wifi.ssid : '')#ssid.form-control

      label(for="mac") MAC
      div.input-group
        span.input-group-addon MAC
        input(type="text" name="mac" value=system.wifi.mac ? system.wifi.mac : '')#mac.form-control

      if system.wifi.security != null
        each sec, key in system.wifi.security
          div.checkbox
            label(for="security")=sec
              input(type="checkbox" name="security" value=key)
              //- checked=system.wifi.security.indexOf('aes') > -1 ? true : false)

      label(for="password") Password
      div.input-group
        span.input-group-addon Password
        input(type="password" name="password" value=system.wifi.password ? system.wifi.password : '')#password.form-control

      button(type="submit").btn.btn-primary Wlan Einstellungen speichern
