extends layout

block head
  - var title='Users'


block content

  header.page-header
    h2 Users

  section.col-md-4

    h2 Neuen User anlegen

    form(action="/users" method="post")

      label(for="username") Name
      div.input-group
        input(type="text" name="username" placeholder="Name")#name.form-control

      //- label(for="bdate") Geburtstag
      //- div.input-group
      //-   input(type="text" name="bdate" placeholder="Geburtstag")#bdate.form-control

      //- label(for="theme") Theme
      //- select(name="theme").form-control
      //-   option(value="theme1") Theme1
      //-   option(value="theme2") Theme2

      //- label.user-active(for="active") Aktiv
      //-   input.user-active-check(type="checkbox" name="active" value="true" checked)

      button(type="submit").btn.btn-default Speichern

  section.col-md-8
    h2 Users
    if users.length == 0
      h2 No Users
    else
      table.table
        thead
          tr
            th Username
            //- th Status
            th Letzter Login
            th Aktionen

        tbody
          each user in users
            tr
              td
                strong=user.username
              //- td
              //-   p=user.active
              td
                - var date = new Date(user.updatedAt)
                time=date.toLocaleString()
              td
                a.user-delete(href="users/#{user._id}/delete").btn.btn-danger Löschen
                =" "
                a(href="users/#{user._id}").btn.btn-primary Bearbeiten

