extends layout

block content
  header.page-header
    h2 User anlegen

  section.col-sm-12

    form(action="/users/#{user.id}" method="post")

      label(for="name") Name
      div.input-group
        span.input-group-addon Name
        input(type="text" name="name" value=user.username)#name.form-control

      label(for="bdate") Geburtstag
      div.input-group
        span.input-group-addon Geburtstag
        input(type="text" name="bdate" value=user.bdate)#bdate.form-control

      label(for="theme") Theme
      select(name="theme").form-control
        option(value="theme1") Theme1
        option(value="theme2") Theme2

      label(for="active") Aktiv
        input(type="checkbox" name="active" value="true" checked=user.active ? true : false)

      input(type="hidden" name="id" value=user._id)
      br

      button(type="submit").btn.btn-primary Änderungen speichern
