extends layout

block content
  header.page-header
    h1 Widgetübersicht

  aside.col-sm-4
    h2 Installierte Module

    if modules.length == 0
      h2 No Modules
    else
      table.table
        thead
          tr
            th Module
            th Neues Widget erstellen

        tbody
          each module in modules
            tr
              td
                strong=module.name
                p=module.description
              td
                form(action="widgets/create/#{module._id}" method="POST")
                  div.form-group
                    label(for="widget") Name
                    input(type="text" name="name" placeholder="name")#name.form-control
                  each input, inputKey in module.settings
                    div.form-group
                      label(for="settings_#{inputKey}")=input.desc
                      input(type=input.type id="#settings_#{inputKey}" name="settings_#{inputKey}" placeholder=input.desc).form-control

                  button(type="submit").btn.btn-primary Widget erstellen

  section.col-sm-8
    h2 Widgets

    if widgets.length == 0
      h2 No widgets
    else
      table.table
        thead
          tr
            th Widget
            th Edit
            th Delete

        tbody
          each widget in widgets
            tr
              td
                strong=widget.name
              td
                a(href="widgets/edit/#{widget._id}") Bearbeiten
              td
                a(href="widgets/remove/#{widget._id}") Löschen

  section.col-sm-12
      h2 Interface

      form(action="/interface" method="POST")
        div.form-group
          label(for="user") User

          select(name="user")#user.form-control
            each user in users
              option(value=user._id)= user.username

        button(type="submit").btn.btn-primary Interface laden

