extends layout

block head
  - var title='Widgets'

block content
  header.page-header
    h1 Widget bearbeiten

    a(href="..").btn.btn-primary Zurück

  aside.col-sm-6
    h2=widget.name

    form(action="/widgets/edit/#{widget._id}" method="POST")
      div.form-group
        label(for="name") Name
        input(type="text" name="name" placeholder=widget.name value=widget.name).form-control

      div.form-group
        label(for="size") Größe

        select(name="size")#size.form-control
          each size in module.size
            option(value=size)=size

      if widget.settings
        each value, key in widget.settings
          div.form-group
            label(for=key)=key
            input(type=typeof value name=key placeholder=value value=value).form-control

      button(type="submit").btn.btn-primary Widget speichern