extends layout

block vars
  - var title='Widgets'

block content
  header.page-header
    h1 Widgetübersicht

  if(get.msg && get.msg === 'install')
    aside.alert.alert-success
      strong Widget wurde erstellt

  if(get.msg && get.msg === 'updated')
    aside.alert.alert-success
      strong Änderungen wurden gesichert

  if(get.msg && get.msg === 'removed')
    aside.alert.alert-warning
      strong Widget wurde gelöscht

  if(get.err && get.err === 'install')
    aside.alert.alert-daner
      strong Widget konnte nicht erstellt werden

  if(get.err && get.err === 'updated')
    aside.alert.alert-ganer
      strong Änderungen konnten nicht gesichert werden

  if(get.err && get.err === 'removed')
    aside.alert.alert-daner
      strong Widget konnte nicht gelöscht werden

  aside.col-sm-6
    h2 Verfügbare Module

    if modules.length == 0
      aside.alert.alert.primary Keine Module verfügbar
      a(href="/modules").btn.btn-primary Zu den Modulen
    else
      table.table
        thead
          tr
            th Module
            th Neues Widget erstellen

        tbody
          each module in modules
            tr
              td
                strong=module.name
                p=module.description
              td
                form(action="/widgets/create/#{module._id}" method="POST")
                  div.form-group
                    label(for="widget") Name
                    input(type="text" name="name" placeholder="name")#name.form-control
                  if module.settings
                    each input, inputKey in module.settings
                      div.form-group
                        label(for="settings_#{inputKey}")=input.desc
                        input(type=input.type id="#settings_#{inputKey}" name="settings_#{inputKey}" placeholder=input.desc).form-control

                  button(type="submit").btn.btn-primary Widget erstellen

  section.col-sm-6
    h2 Widgets

    if widgets.length == 0
      aside.alert.alert-primary Bisher wurden noch keine Widgets erstellt
    else
      table.table
        thead
          tr
            th Widget
            th Edit
            th Delete

        tbody
          each widget in widgets
            tr
              td
                strong=widget.name
              td
                a(href="/widgets/edit/#{widget._id}") Bearbeiten
              td
                a(href="/widgets/remove/#{widget._id}") Löschen

  section.col-sm-12
      h2 Interface

      form(action="/interface" method="POST")
        div.form-group
          label(for="user") User

          select(name="user")#user.form-control
            each user in users
              option(value=user._id)= user.username

        button(type="submit").btn.btn-primary Interface laden

