extends layout

block content
  header
    h1 Moduldetails
    p Gefundene Daten aus URL: #{url}

  section
    h2 Name:
    strong=details.name

    h2 Description:
    strong=details.description

    h2 Version:
    strong=details.version

    h2 Author:
    strong=details.author

  form(action="./install" method="POST")
    input(type="hidden" name="url" value=url)
    input(type="hidden" name="name" value=details.name)
    button(type="submit") Modul installieren
