doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/stylesheets/backend.css')
    title Error - Site not Found
  body

    nav.navbar.navbar-default
      div.container
        a(href='/').navbar-brand
          img(src='/images/logo.png' alt='SmartMirror').nav-logo
        h2.heading Smart Mirror
        ul.nav.navbar-nav.navbar-right
          li.nav-item(class=title === 'Home' ? 'active' : '')
            a(href='/').nav-link Home
          li
          -
            nav = {
              modules: 'Modules',
              widgets: 'Widgets',
              interface: 'Interface',
              users: 'Users',
              sensors: 'Sensors',
              system: 'System'
            }
          each value, key in nav
            li.nav-item(class=title === value ? 'active' : '')
              a(href='/#{key}').nav-link=value

    div.container.content-container
      div.col-sm-12
        header.text-center
          h1 Fehler
          //- OPPS, Error 404 !
        article
          pre= message
          small.text-muted= err
          br

      footer.col-sm-4.col-sm-offset-4
          a(href="/").btn.btn-primary.mt-2 Zurück zur Startseite