doctype html
html
  head
    title Smartmirror
    link(rel='stylesheet', href='/stylesheets/smartmirror.css')
  body
    //- header
    //-   p Hallo, #{user.username} //  #{user._id}

    //- Create Widget Container
    main.grid
      each widget in user.widgets
        section(id="widget-#{widget.id}" class='size-#{widget.size}' data-widget="#{widget.id}" data-x=widget.position.x data-y=widget.position.y).widget.

    //- Load all core scripts
    //- script(src='/javascripts/angular.js')
    script(src='/javascripts/smartmirror.js')
