extends layout

block content
  h1 Systemsettings

  form(action="/system" method="post")
    label(for="ssid") ssid:
    input(type="text" name="ssid" value=system.ssid ? system.ssid : '')
    br

    label(for="mac") mac:
    input(type="text" name="mac" value=system.mac ? system.mac : '')
    br

    label(for="security") aes:
      input(type="checkbox" name="security" value="aes" checked=system.security.indexOf('aes') > -1 ? true : false)
    label(for="security") rsa:
      input(type="checkbox" name="security" value="rsa" checked=system.security.indexOf('rsa') > -1 ? true : false)
    br

    label(for="password") password:
    input(type="password" name="password" value=system.password ? system.password : '')
    br

    button(type="submit") save
