extends layout

block content
  h1=title
  h2=user.username
  p User: #{title}

  form(action="/users/#{user.id}/edit" method="post")
    label(for="username") Username:
    input(type="text" name="username" value=user.username)
    br

    label(for="bdate") Geburtstag:
    input(type="text" name="bdate" value=user.bdate)
    br

    label(for="theme") Theme:
    select(name="theme")
      option(value="theme1") Theme1
      option(value="theme2") Theme2
    br

    label(for="active") Aktiv:
    input(type="checkbox" name="active" checked=user.active ? true : false)
    br

    button(type="submit") Änderungen Speichern
